{% extends 'base.html.twig' %}
{%block title "Bienvenue" %}
{% block body %}
    <div class="jumbotron text-center">
        <h1> Agence&Immo  </h1>
        <h2> L'agence qu'il vous faut ! </h2>
        <p>Vous avez décidé de vous mettre au vert et d'acheter un bien ? Vous projetez de faire un investissement locatif ? Vous souhaitez louer un bien immobilier ? Pour toutes ces démarches, le rôle de l'agent immobilier est de vous accompagner. Notre agence sera le coup de pouce, pour vous aidez a réaliser vos rêves.</p>
    </div>

    <div class="container">
        <h2>Les derniers Biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }} </a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.postalCode }}</p>
                        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">
                            {{ property.getFormattedPrice}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
